<include file="Public/header" />
</head>
<body>
<div class="margin clearfix">
 <div class="article_style">
  <form class="form-horizontal" method="post" action="{:U('Admin/Index/exitpassword')}" onsubmit = "return checkUser();" id = "userMsg">
    <div class="add_content" id="form-article-add">
     <ul>
      <li class="clearfix Mandatory">
      <label class="label_name"><i>*</i>原密码</label><span class="formControls col-10">
        <input type="password" id="oldpassword" class="col-xs-10 col-sm-5 " name="oldpassword">
      </span>
      </li>
      <li class="clearfix Mandatory">
      <label class="label_name"><i>*</i>新密码</label><span class="formControls col-10">
        <input type="password" id="password" class="col-xs-10 col-sm-5 " name="password">
      </span>
      </li>
      <li class="clearfix Mandatory">
      <label class="label_name"><i>*</i>确认密码</label><span class="formControls col-10">
        <input type="password" id="newpassword" class="col-xs-10 col-sm-5 " name="newpassword">
      </span>
      </li>
     </ul>
      <div class="Button_operation">
				<button  class="btn btn-primary radius" type="submit">保存并提交</button>
			</div>
      </form>
    </div>
 </div>
</div>
</body>
</html>
<script>
  function checkUser(){
   var oldpassword = document.getElementById("oldpassword").value;
   var password = document.getElementById("password").value;
   var newpassword = document.getElementById("newpassword").value;

   if(oldpassword == ""  ){
     alert("原密码不能为空");
     return false;
   }

  if(password == ""  ){
     alert("密码不能为空");
     return false;
   }
  if(newpassword == ""  ){
     alert("确认密码不能为空");
     return false;
   }
   if(password!=newpassword){
      alert("两次密码不一致");
     return false;
   }


    var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$"); //正则表达式
　　if(!reg.test(email)){ //正则验证不通过，格式不对
　　　　alert("请输入正确的邮箱!");
　　　　return false;
　　}
  
  document.getElementById("userMsg").submit();
}
</script>
