.banner {
    background: url("../images/banner.jpg") no-repeat center center;
    text-align: center;
    height: 446px;
    margin-top: 2px;
}
.cpzs{
	float: left;
    width: 245px;
}
.product-list{
	background: url(../images/product-list.jpg);
    margin-left: 15px;
    width: 160px;
    line-height: 40px;
    padding-left: 55px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
.gsjj{
	width: 615px;
    margin-left: 20px;
    float: left;
}
.info-content {
    line-height: 26px;
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
}
.lxfs{
    width: 300px;
    float: left;
    margin-left: 20px;
}
h4{
	font-size:14px; 
	padding-left:65px;
	line-height:33px;
	font-weight: 700;
}
.cp-top img{
	width: 220px;
    height: 155px;
}
#demo,#demo6{
    overflow: hidden; 
    width: 1200px;
    height: 175px;
    padding-top:20px;
}

.a1{
    margin: 15px;
    text-align: center;
}
.cp-top td{
    text-align: center;
}
.news-infol {
    float: left;
    width: 386px;
}
.news-content {
    background: url("../images/news-content.jpg");
    line-height: 34px;
    margin-left: 5px;
    width: 376px;
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
}
.news-content ul {
     line-height: 34px;
     width: 376px;
     font-size: 12px;
     text-align: left;
 }
.news-content li {
    line-height: 34px;
    font-size: 12px;
    text-align: left;
    padding-left: 30px;
}
.news-content span {
    font-size: 12px;
    color: #CCCCCC;
    text-align: left;
}
.news-infoc {
    width: 386px;
    margin-left: 20px;
    float: left;
}
.news-infor {
    width: 386px;
    float: left;
    margin-left: 20px;
}
.main-link {
    FLOAT: left;
    width: 1200px;
    margin-top: 10px;
}
.info-link {
    line-height: 26px;
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
}

