<include file="Public/public" title="{$data.name}-{{$config.name}}"/>
<div class="main">
    <div class="bannerny" style="background: url('__PUBLIC__/Uploads/{$picdata[2][url]}') no-repeat center center;"></div>

    <div class="main-info">

            <include file="Public/left"/>

            <!--右侧-->
            <div class="main-infonc">
                <div class="info-title">{$data.name}</div>
                <div class="info-conbt">
                    <h1>{$data.name}</h1>
                </div>
                <div class="info-contentn">
                    <div class="info-conbt">
                        <h1>{$data.name}</h1>
                    </div>
                    {$data.content}
                </div>
            </div>
        </div>
    </div>
<include file="Public/footer"/>
