<include file="Public/public"/>
<div class="main">
    <div class="bannerny" style="background: url('__PUBLIC__/Uploads/{$picdata[2][url]}') no-repeat center center;"></div>

    <div class="main-info">

            <include file="Public/left"/>

            <!--右侧-->
            <div class="main-infonc">
                <div class="info-title">{$data.name}</div>
                <div class="info-contentn" style="padding-top: 25px;">
                    {$data.content}
                </div>
            </div>
        </div>
    </div>
<include file="Public/footer"/>
