<include file="Public/public"/>
<link rel="stylesheet" href="__PUBLIC__/css/product.css">

<div class="main">
    <div class="bannerny" style="background: url('__PUBLIC__/Uploads/{$picdata[2][url]}') no-repeat center center;"></div>

    <div class="main-info">

            <include file="Public/left"/>

            <!--右侧-->
            <div class="main-infonc">
                <div class="info-title">行情资讯</div>
                <div class="info-contentn">
                    <div class="nymbx">
                        您的位置:
                        <a href="">首页</a>>>
                        <a href="">首页</a>

                    </div>
                    <div class="info-conbt">
                        <h3>行情资讯</h3>
                    </div>
                    <div class="info-nynews">
                        <ul>
                            <foreach name="list" item="vo" >
                                <li><a href="{:U('Home/Index/news',array('id'=>$vo['id']))}">{$vo.title}　<span>{$vo.time}</span></a></li>
                            </foreach>
                        </ul>
                    </div>
                    <div class="nynewsfy">
                        <div class="result page">{$page}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<include file="Public/footer"/>