<include file="Public/public"  title="联系方式-{$config.name}"/>
<div class="main">
    <div class="bannerny" style="background: url('__PUBLIC__/Uploads/{$picdata[2][url]}') no-repeat center center;"></div>
        <div class="main-info">

            <include file="Public/left"/>

            <!--右侧-->
            <div class="main-infonc">
                <div class="info-title">联系方式</div>
                <div class="info-contentn" >
                    <div class="info-contentn">
                        <div class="info-conbt">
                            <h3>无缝钢管公司联系方式</h3>
                        </div>
                        联 系 人： {$config.xsjj}<br/>
                        电　　话： {$config.xsdh}<br/>
                        手　　机： {$config.lxsj}<br/>
                        传　　真： {$config.gscz}<br/>
                        邮　　箱： {$config.email}<br/>
                        网　　址： {$config.url}<br/>
                        地　　址： {$config.gsdz}<br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
<include file="Public/footer"/>
