<include file="Public/public"  title="产品中心-{{$config.name}}"/>
<link rel="stylesheet" href="__PUBLIC__/css/product.css">

<div class="main">
    <div class="bannerny" style="background: url('__PUBLIC__/Uploads/{$picdata[2][url]}') no-repeat center center;"></div>

    <div class="main-info">
            <include file="Public/left"/>
            <!--右侧-->
            <div class="main-infonc">
                <div class="info-title">产品中心</div>
                <div class="info-contentn">
                    <div class="nymbx">
                    </div>
                    <div class="info-conbt">
                        <h1>{$title}</h1>
                    </div>
                    <div class="product-page">
                        <ul>
                            <foreach name="list" item="vo" >
                                <li><a class="a1" href="{:U('Home/Index/chanpin',array('id'=>$vo['id']))}"><img src="__PUBLIC__/Uploads/{$vo.picture}" alt="{$vo.name}" /><br />{$vo.name}</a></li>
                            </foreach>
                        </ul>
                    </div>
                    <div class="nynewsfy">
                        <div class="result page">{$page}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<include file="Public/footer"/>